<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <a class="nav-link" href="/">Home</a> |
        <a class="nav-link" href="/newArticle">New Article</a> |
        <a class="nav-link" href="/articles">Articles</a> |
    </nav>
    <h1 class="main-heading">Welcome to Wikipeida</h1>
    <br>
    <div class="article-body">
        <p>
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
            Wikipedia is an online encyclopedia.
        </p>
    </div>

</body>

</html>