<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <a class="nav-link" href="/">Home</a> |
        <a class="nav-link" href="/newArticle">New Article</a> |
        <a class="nav-link" href="/articles">Articles</a> |
    </nav>
    <h1 class="main-heading"> React Js </h1>
    <br>
    <div class="article-body">
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        <p> React is a front end framework build on top of javascript to make web apps. </p>
        
    </div>

    <button>Edit Article</button>
    <button>Delete Article</button>

</body>

</html>